html,body {
  font-family: Georgia,serif,Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding: 8px;
}

* {
  box-sizing: border-box;
}
input[type=text], input[type=tel], input[type=email]{
  font-family: Georgia,serif,Arial,Helvetica,sans-serif;
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}
.btn {
  font-family: Georgia,serif,Arial,Helvetica,sans-serif;
  background-color: #45a049;
  color: white;
  padding: 10px;
  margin: 7.5px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.cancel{
background: #f44336;
}
.btn:hover {
  opacity: 0.8;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

.btn.btn-primary a {
  color: #fff;
  text-decoration: none;
}
.modal-header{
  display: flex;
  align-items: center;
  padding: 15px;
}
.modal-title{
  margin: 0;
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
}
.modal-header img{
  height: 40px;
}

.input-group{
  align-items: baseline;
  display: flex;
}
.input-group-addon{
  width: 15%;
  padding: .71rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #464a4c;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid rgba(0,0,0,.15);
}
.minus-item{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.plus-item{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-group .form-control{
  margin-bottom: 0;
  padding: 10.5px;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
}
.delete-item {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.modal-footer a{
  text-decoration: none;
  color: #ffffff;
}
.cart-btn{border: none;}
.modal-footer .btn-primary:active{
  background: #4CAF50 !important;
  border: none !important;
}
